
.sidebar{
    height:100%;
    width:240px;
    position:fixed;
    z-index: 1; 
  top: 0; 
  left: 0;
  background-color: black; 
  overflow-x: hidden; 
  padding-top: 40px;
}

.sidebar a {
  padding: 8px 10px 8px 20px;
  text-decoration:none ;
  font-size: 25px;
  color:lawngreen;
  display: block;
}
.sidebar header{
  font-size: 30px;
  color: orange;
  display: block;
 
}

.main{
 margin-left: 240px;
 color:black;
 font-size: small;
 font-family: 'Times New Roman', Times, serif;
 font-style: italic;
 }
 
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

  body{
    background-color:whitesmoke;
  }

  @media (max-width: 320px) 
  {
    .sidebar a {
      font-size: 40px;
      color:rgb(255, 239, 17);
    }
    .sidebar header {
      font-size: 50px;
    }
    .main {
      font-size: xx-large;
    }
  }

  @media (min-width: 768px) 
  {
    .sidebar a {
      font-size: 27px;
      color:rgb(255, 17, 255);
    }
    .sidebar header {
      font-size: 32px;
      
    }
    .main {
      font-size: x-large;
    }
  }

  @media (min-width: 1200px) 
  {
    .sidebar a {
      font-size: 23px;
      color:rgb(230, 16, 16);
    }
    .sidebar header {
      font-size: 29px;
    }
    .main {
      font-size: large;
    }
  }


  

  